include ../../layout/admin_layout.pug
block content 
	body(onload="script();")
		.box-loading
			.loader
				span(style="--i:1;")
				span(style="--i:2;")
				span(style="--i:3;")
				span(style="--i:4;")
				span(style="--i:5;")
				span(style="--i:6;")
				span(style="--i:7;")
				span(style="--i:8;")
				span(style="--i:8;")
				span(style="--i:9;")
				span(style="--i:10;")
				span(style="--i:11;")
				span(style="--i:12;")
				span(style="--i:13;")
				span(style="--i:14;")
				span(style="--i:15;")
				span(style="--i:16;")
				span(style="--i:17;")
				span(style="--i:18;")
				span(style="--i:19;")
				span(style="--i:20;")
		.container-fluid.container-admin
			.row
				.col-lg-2.col-xl-2#navbar-1
					include ../../components/admin_navbar.pug
				.col-lg-10.col-xl-10#navbar-11
					.box-admin-post
						.head
							h2 Đăng truyện
							.head-function
								a(href='/admin/post/create')  Tạo truyện
						.body
							table
								thead
									tr
										td  STT
										td  T&ecirc;n truy&#x1EC7;n 
										td  T&aacute;c gi&#x1EA3; 
										td  Ng&agrave;y t&#x1EA1;o
										td 	Hoàn thành
										td  Trạng thái
									tr
										td(colspan='6')
											input(type='text', name='filter-name', placeholder='Lọc truyện') 
								tbody
									each data, index in stories
										tr.item
											td= index+1
											td
												a(href=`/admin/chapter/${data._id}`)= data.name
											td= data.author
											td= `${new Date(data.createDay).getDate()}-${new Date(data.createDay).getMonth() + 1}-${new Date(data.createDay).getFullYear()} ${new Date(data.createDay).getHours()}:${new Date(data.createDay).getMinutes()}${new Date(data.createDay).getHours() < 12 ? 'AM' : 'PM'}`
											td
												span(class=`${data.statusFinishAndUnfinished ? "badge badge-success" : "badge badge-danger"}`)= data.statusFinishAndUnfinished ? "Hoàn thành" : "Chưa hoàn thành"
											td
												span(class=`${data.statusShowHide ? "badge badge-success" : "badge badge-danger"}`)= data.statusShowHide ? "Hiện" : "Ẩn"
											td
												a.text-secondary(href='/admin/post/edit/' + data._id)
													i.fas.fa-pen
													|  S&#x1EED;a
												a.text-danger(href='/admin/post/del/' + data._id)
													i.fas.fa-trash
													|  X&oacute;a
		include ../../layout/script.pug
		script. 
			window.onload = function(e) {
				if(Math.floor(e.timeStamp) <= e.timeStamp) {
					$('#data-container').hide()
					$('#pagination-container').hide()
					$('.box-loading').show()
					setTimeout(function() {
						$('#data-container').show()
						$('.box-loading').hide()
						var item = document.querySelectorAll('.item');
						if(item.length >= 20) {
							$('#pagination-container').show()
						}
						var input = document.querySelector("[name='filter-name']");
						input.addEventListener('keyup', function(e) {
							item.forEach((item) => {
								console.log(item.children[1].children[0].innerHTML, item.children[1].children[0].innerHTML)
								if(item.children[1].children[0].innerHTML.indexOf(e.target.value.toUpperCase()) !== -1) {
									item.style.display = '';
								}else {
									item.style.display = 'none'
								}
							})
						})
					}, Math.floor(e.timeStamp))
				}
			}