include ../../layout/admin_layout.pug 
	block content 
		.container-fluid.container-admin
			.row
				.col-lg-2.col-xl-2#navbar-1
					include ../../components/admin_navbar.pug
				.col-lg-10.col-xl-10#navbar-11
					.box-admin-user
						.head
							h2  Quản lý người dùng
							.head-function
								a(href='/admin/users/add')  Th&ecirc;m th&#x1EC3; lo&#x1EA1;i 
						.body
							table
								thead
									tr
										td  ID 
										td  Tên
										td  Email
										td  Ngày tạo 
										td  Loại người dùng
								tbody
									tr
										td(colspan='5')
											input(type='text', name='filter-name', placeholder='Lọc truyện')
										each data, index in users
											tr.item
												td= index + 1
												td= data.username
												td= data.email
												td= `${new Date(data.date).getDate()}-${new Date(data.date).getMonth() + 1}-${new Date(data.date).getFullYear()} ${new Date(data.date).getHours()}:${new Date(data.date).getMinutes()}${new Date(data.date).getHours() < 12 ? 'AM' : 'PM'}`
												td
													span.badge.badge-info
														if data.role === 2
															span Admin
														else if data.role === 1
															span Manager
														else
															span user
												td.box-function
													a.text-secondary(href='/admin/user/edit/' + data._id)
														i.fas.fa-pen
														span  Sửa 
												td.box-function
													a.text-danger(href='/admin/user/del/' + data._id)
														i.fas.fa-trash
														span  Xóa
		include ../../layout/script.pug
		script. 
			var input = document.querySelector("[name='filter-name']");
			var item = document.querySelectorAll('.item');
			input.addEventListener('keyup', function(e) {
				item.forEach((item) => {
					if(item.children[1].innerHTML.toLowerCase().indexOf(e.target.value) !== -1 || item.children[1].innerHTML.toUpperCase().indexOf(e.target.value) !== -1 || item.children[1].innerHTML.indexOf(e.target.value) !== -1) {
						item.style.display = '';
					}else {
						item.style.display = 'none'
					}
				})
			})
